<!-- TODO in Lab 5: Display the items on the menu with cost for each -->
<!-- MenuSummaryView -->
<div class="col-md-3" id="menuSummaryView">
  <div class="row">
    <div class="col-md-12">
        <h2>My Dinner</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h4>People:</h4>
    </div>
    <div class="col-md-4">
      <div class="input-group spinner">
        <input type="number" ng-model="numberOfGuests" ng-change="setNumberOfGuest(numberOfGuests)" class="form-control" value="0" min="0" max="15" id="numberOfGuests">
      </div>
    </div>
    <div class="col-md-5"></div>
  </div>

  <div class="row" id="dishNameRow">
    <div class="col-md-6">
      <h4>Dish Name</h4>
    </div>
    <div class="col-md-6">
      <h4>Cost</h4>
    </div>
  </div>

  <div id ="selectedDishesList">
  	<div class="row" id="pendingRow" style="background-color:#f5f5ef" ng-repeat="dish in getFullMenu()">
      <div class="col-md-6">
        <a ng-click="removeDish(dish.id)"><h4>{{dish.title}}</h4></a>
      </div>
      <div class="col-md-3">
        <h4>{{getDishPrice(dish)}}</h4>
      </div>
      <div class="col-md-3">
        <h4>SEK</h4>
      </div>
    </div>

      <div class="row" id="pendingRow" style="background-color:#f5f5ef" ng-controller="DishCtrl">
      <div class="col-md-6">
        <h4 id="pendingName">{{getPendingName()}}</h4>
      </div>
      <div class="col-md-3">
        <h4 id="pendingCost">{{getPendingCost()}}</h4>
      </div>
      <div class="col-md-3">
        <h4>SEK</h4>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="horizontalLine" style="border: 1px solid black;"></div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <h4></h4>
    </div>
    <div class="col-md-3" ng-controller="DishCtrl">
      <h4 id="totalCost">{{getFullMenuPrice() + getPendingCost()}}</h4>
    </div>
    <div class="col-md-3">
      <h4>SEK</h4>
    </div>
  </div>
  <div class="row"><p></p></div>

  <div class="row" style="text-align: center">
    <a class="btn btn-primary" id="confirmDinnerBtn" ng-click="go('/confirm')">Confirm Dinner</a>
  </div>
  <div class="row"><p><br></p></div>

</div>
