<div id="printRecipeView">
<div class="row"><div class="col-md-12"><p><br></p></div></div>

	<div class="section" id="selectDishSection">
      	<div class="container-fluid" id="printRecipeViewHeader">

        	<div class="row">
          		<div class="col-md-6">
            		<div class="col-md-5">
              			<h1>My Dinner:</h1>
           			</div>
            		<div class="col-md-1">
              			<h1>{{getNumberOfGuests()}}</h1>
            		</div>
            		<div class="col-md-6">
              			<h1>people</h1>
            		</div>
          		</div>
          		<div class="col-md-6" style="text-align: right">
                <div class="col-md-12"> 
                  <br>
            		  <a class="btn btn-primary" id="backButton" ng-click=go('/confirm')>Go back and edit</a>
                </div>
          		</div>
        	</div>
      	</div>
    </div>

    <div class="section">
    <div class="row"><p><br></p></div>
      <div class="container" id="printRecipeViewDishes" style="background-color: #ffffff;opacity: 0.8">
        <div class="row"><div class="col-md-12"><p><br></p></div></div>
        <div class="row" ng-repeat="dish in getFullMenu()">
            <div class="col-md-4">
            <div class="row">
              	<div class="col-md-12">
                
                	<img ng-src="{{dish.image}}" class="img-responsive" style="width:100%;height: 200px">
                  </div>
              	</div>
                <div class="row">
              	<div class="col-md-12">
                	
                  		<h3><b>{{dish.title}}</b></h3>
                	</div>
                	<p></p>
              	</div>
            </div>
            <div class="col-md-6">
              	<div class="row">
                	<h3>Preparation</h3>
              	</div>
              	<p>{{dish.instructions}}</p>
            </div>
        </div>
        <div class="row"><p></p></div>
      </div>
    </div>
</div>
